.diagonal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transform: skewX(-20deg);
    transform-origin: 0% 0%;
  }
  
  .diagonal-background img {
    width: 150%;
    height: 100%;
    object-fit: cover;
    transform: skewX(20deg);
    transform-origin: 0% 0%;
  }

  .content-container {
    position: absolute;
    top: 10%;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content-container h1 {
    margin-bottom: 2rem;
  }

.image-container {
    width: 100%;
    height: auto;
    max-width: none;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}